//- - var theme = '[THEMENAME]'
//- - var theme_path = `/wp-content/themes/${theme}`
//- - var dynamic_images = `${theme_path}/static/img/dynamic`
//- - var static_images = `${theme_path}/static/img/static`