include ../utils/mixins
block variables

doctype html
html(lang="en-US" prefix="og: http://ogp.me/ns#")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title #{title}
	body
		include ../includes/header
		main.main
			block content
		include ../includes/footer