/*!
Theme Name: [THEMENAME]
Author: Bildy Oy
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: [DOMAIN]
*/

@import '_mixins';

html, object, img, ins, kbd, q, s, samp, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

iframe {
	border: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	margin-top: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: $font;
	margin: 0;
	padding: 0;
}

@-ms-viewport {
	width: device-width;
}

body {
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	color: $dark-slate-blue;
	font-family: $font;
	margin: 0;
	padding: 0;
}

[tabindex="-1"]:focus {
	outline: 0 !important;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, dl {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: inherit;
}

img {
	-ms-interpolation-mode: bicubic;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	background-color: transparent;
	text-decoration-skip-ink: auto;
}

pre {
	margin: 0;
	overflow: auto;
	-ms-overflow-style: scrollbar;
}

img {
	vertical-align: middle;
	border-style: none;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

label {
	display: inline-block;
}

input,
textarea {
	box-shadow: none;
	margin: 0;
}

input[type=text],
input[type="number"],
input[type="email"],
input[type="button"],
input[type="tel"],
input[type="search"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

[type="search"] {
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	resize: none;
}

select {

	&::-ms-expand {
		display: none;
	}
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

address,
cite, em {
	font-style: normal;
}

fieldset {
	min-width: 0;
}

legend {
	display: block;
	width: 100%;
	max-width: 100%;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}